# The browser running the Amazon login must be able to reach this address.
# ALEXA_PROXY_HOST=192.168.1.50
ALEXA_PROXY_PORT=8098
AMAZON_DOMAIN=amazon.com
ALEXA_DATA_DIR=./data
ALEXA_CAPTURE_FIXTURES=true
ALEXA_DEBUG=false
ALEXA_ONCE=false
